.createPost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: rgba(255,255,255,0.7);
  vertical-align: middle;
  border-radius: 30px;
  

  .postForm {

    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;


    .createPost-heading {
      color: rgb(7, 94, 84);
      font-family: Roboto, Arial;
      font-weight: bold;
      font-size: 50px;
      text-decoration: underline;
      text-align: center;
      margin-bottom:40px;
      margin-top:30px;
    
    }

  .createPost-split-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    
      .split-container {
        display: flex;
        flex-direction: column;


      .form-control {
       background-color: rgba(7, 94, 84, 0.3);
        width:400px;
        color: black;
  
      }

      .form-control::placeholder {
        color:white;
      
      }

      .form-label {
        font-size:22px

      }

    }
  }

  .publish-button {
    font-family: Roboto, Arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width:250px;
    height:60px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgb(7, 94, 84);
    color: white;

  }

} }



body {
  background-color: #075e54;
  padding-top: 100px;
}

.login-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 500px;
  justify-content: center;
}
.login-container .login-wrapper {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  padding: 20px 60px;
  gap: 10px;
  border-radius: 10px;
}
.login-container .login-wrapper .colLAB-logo {
  width: 120px;
}
.login-container .login-wrapper .login-caption {
  font-family: Roboto, Arial;
  font-weight: bold;
  font-style: italic;
  margin-top: -30px;
  margin-bottom: 10px;
}
.login-container .login-wrapper .login-title {
  font-family: Roboto, Arial;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #075e54;
}
.login-container .login-wrapper .login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.login-container .login-wrapper .login-form input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #075e54;
  width: 250px;
  height: 35px;
}
.login-container .login-wrapper .login-form input::placeholder {
  color: black;
  text-align: center;
  opacity: 0.7;
}
.login-container .login-wrapper .login-form .login-button {
  border-radius: 5px;
  background-color: #075e54;
  color: white;
  font-size: 22px;
  font-family: Roboto, Arial;
  font-weight: bold;
  width: 120px;
}
.login-container .login-wrapper .login-form .error-msg {
  color: red;
}

.register-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 550px;
  justify-content: center;
}
.register-container .register-wrapper {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  padding: 20px 60px;
  gap: 10px;
  border-radius: 10px;
}
.register-container .register-wrapper .colLAB-logo {
  width: 120px;
}
.register-container .register-wrapper .register-caption {
  font-family: Roboto, Arial;
  font-weight: bold;
  font-style: italic;
  margin-top: -30px;
  margin-bottom: 10px;
}
.register-container .register-wrapper .register-title {
  font-family: Roboto, Arial;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #075e54;
}
.register-container .register-wrapper .register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.register-container .register-wrapper .register-form input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #075e54;
  width: 250px;
  height: 35px;
}
.register-container .register-wrapper .register-form input::placeholder {
  color: black;
  text-align: center;
  opacity: 0.7;
}
.register-container .register-wrapper .register-form .profile-pic-button:hover {
  cursor: pointer;
}
.register-container .register-wrapper .register-form .profile-pic-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.register-container .register-wrapper .register-form .profile-pic-container .profile-pic-icon {
  width: 50px;
  border-radius: 80px;
  margin-right: 10px;
}
.register-container .register-wrapper .register-form .profile-pic-container .profile-pic-caption:hover {
  text-decoration: underline;
}
.register-container .register-wrapper .register-form .profile-pic-icon {
  width: 100px;
}
.register-container .register-wrapper .register-form .register-button {
  border-radius: 5px;
  border: none;
  background-color: #075e54;
  color: white;
  font-size: 22px;
  font-family: Roboto, Arial;
  font-weight: bold;
  width: 120px;
}
.register-container .register-wrapper .error-msg {
  color: red;
}

.top-navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.top-navigation-bar .left-top-navigation-bar {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  width: 222px;
}
.top-navigation-bar .collab-logo {
  width: 70px;
  margin-left: 15px;
}
.top-navigation-bar .greeting-text {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-left: 15px;
  white-space: nowrap;
  color: #128c7e;
}
.top-navigation-bar .center-top-navigation-bar {
  justify-self: center;
  white-space: nowrap;
  align-self: center;
}
.top-navigation-bar .center-top-navigation-bar .navigation-bar-button {
  border: none;
  background-color: transparent;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 22px;
}
.top-navigation-bar .center-top-navigation-bar .navigation-bar-button:hover {
  background-color: #075e54;
  opacity: 0.7;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.top-navigation-bar .logout-button {
  border: none;
  background-color: transparent;
  color: red;
  margin-right: 10px;
  margin-left: 100px;
}
.top-navigation-bar .logout-button:hover {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}



/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

.search-input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 300px;
  }
  
  .search-button {
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }

  .homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .col-lg-6 {
    width: 100%;
    max-width: 600px;
  }
  
  .card {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .skills-container {
    margin-top: 10px;
  }
  
  .badge {
    font-size: 14px;
    padding: 6px 12px;
    margin-right: 5px;
  }
  
  .bg-dark {
    background-color: #343a40;
    color: #fff;
  }
  
  .bg-info {
    background-color: #17a2b8;
    color: #fff;
  }
  
  .text-dark {
    color: #343a40 !important;
  }

  .createPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;

  .postForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    input[type="text"],
    textarea {
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      resize: none;
    }

    textarea {
      height: 100px;
    }

    button {
      background-color: #ff3366;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
  

.createPost {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .postForm {
    width: 800px;

    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    textarea {
      height: 100px;
    }

    button {
      background-color: #128c7e;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.homepage {
  flex: 2;
  display:flex;
  flex-direction: column;
  align-items:normal;
  justify-content:start;
  overflow-y:scroll;
  overflow-x: hidden;
}
.page-scroll{
}
.search-bar {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  margin-bottom: 20px; 
}*/